/* HEADER - NAVBAR */
header {
    /*font-family: 'Asar', serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}
#navbarNav {
    justify-content: center;
}
#contactus1, #contactus2 {
    width: 35px;
}
.show992 {
    display: none !important;
}
#logo{
    width: 12vw;
}
.noborder {
    border: none !important;
}
.noborder:focus {
    outline: none !important;
}
.makerow {
    flex-direction: row !important;
    border-top: .5px solid #cccccc;
    justify-content: center;
}
.makerow li {
    padding-left: .5vw;
    padding-right: 3vw;
    text-align: center;
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo{
        width: 10vw;
    }
    .navbar-brand{
        margin-right: 2rem !important;
    }
    .makerow {
        border-top: none;
    }
    .show992 {
        display: inline-block !important;
        margin-right: 0 !important;
    }
    .hide992 {
        display: none !important;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #logo{
        width: 70%;
    }
}
.shadow {
    box-shadow: 0 7px 10px -6px #ccc;
}
/*HEADER - NAVBAR END*/

/*MAIN FRAME*/
section{
    /*font-family: 'Asar', serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 225% !important;
    background-image: url("images/whitebg.jpg");
    padding-bottom: 7vh;
}
h1 {
    /*font-family: 'Pavanam', sans-serif !important;*/
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center !important;
    margin-top: 6vh !important;
    margin-bottom: 6vh !important;
    color: navy !important;
}
h5 {
    /*font-family: 'Pavanam', sans-serif !important;*/
    font-family: 'Source Sans Pro', sans-serif;
    color: navy !important;
    text-align: center;
    padding-bottom: 1vh;
}
/*.mainframe {
    background: -webkit-linear-gradient(left, navy, #5252fa, #8281fa, #cdcdfe);
    color: #ffffff;
    font-family: 'Pavanam', sans-serif;
    font-size: 470%;
    line-height: 100%;
    width: 60vw;
    padding-left: 1vw !important;
    padding-bottom: 1vh;
    padding-top: 1vh;
    margin-top: 6vh;
    border-radius: 5px;
    max-width: 540px !important;
}*/
.grey {
    color: #666666;
    margin-top: 1vh;
    font-style: italic;
    margin-bottom: 1vh;
    font-size: 150%;
    max-width: 540px !important;
}
.overview {
    /*font-family: 'Pavanam', sans-serif !important;*/
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 1%;
}
.clquo {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
@media (max-width: 768px) {
    .fixpdd {
        max-width: 83.333333%;
    }
}
/*MAIN FRAME END*/

/*BACK TO TOP*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding: .7em 1em;
    display: inline;
    border-radius: 50%;
}

.back-to-top:hover {
    transition: background-color .2s;
    background-color: rgba(0, 0, 128, 0.6);
    color: #fff;
}
/*BACK TO TOP END*/

/*FOOTER*/
footer {
    text-align: center;
}
.upfoot {
    background: darkgray;
    /*font-family: 'Pavanam', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vh;
    color: #ffffff;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.contries {
    font-size: 16px;
}
.contries div {
    margin-top: 3vh;
}
.botfoot {
    background: gray;
    /*font-family: 'Asar', serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 80%;
    line-height: 250%;
}
/*FOOTER END*/